.about {
    &__header {
        display: flex;
        flex-direction: column;
    }

    &__hero {
        padding-top: 14rem;
        padding-bottom: 14rem;

        background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0)
            ),
            url("../../assets/about/about-hero-bg.webp");
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;

        & > .boxed {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            gap: 2rem;

            & > * {
                width: 50%;
            }

            & > .heading-1 {
                text-align: left !important;
            }
        }
    }

    &__team {
        padding-top: 8rem;
        padding-bottom: 8rem;

        background: linear-gradient(
                180deg,
                rgba(23, 23, 27, 1) 0%,
                rgba(255, 255, 255, 0) 60%,
                rgba(23, 23, 27, 1) 80%
            ),
            url("../../assets/about/wavy-bg.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center, center;

        & > .boxed {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6rem;
        }

        &__members {
            display: flex;
            gap: 10rem;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            &__member {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                text-align: center;
                max-width: 25rem;

                &__img {
                    width: 12rem;
                    height: 12rem;
                    object-fit: contains;
                    border-radius: 50%;
                }

                &__abouts {
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: flex-start;
                    padding-left: 2rem;

                    &__item {
                        font-size: 1.2rem !important;
                        font-style: normal !important;
                        text-transform: capitalize !important;
                        line-height: 120% !important;
                    }
                }

                &__socials {
                    display: flex;
                    gap: 2rem;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1rem;

                    & > * {
                        color: #ffffff;
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    &__contact {
        padding-top: 5rem;
        padding-bottom: 5rem;

        background: linear-gradient(
                180deg,
                rgba(23, 23, 27, 1) 0%,
                rgba(255, 255, 255, 0) 60%,
                rgba(23, 23, 27, 1) 80%
            ),
            url("../../assets/about/wavy-bg.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center, center;

        & > .boxed {
            display: flex;

            align-items: center;
            gap: 10rem;
        }

        &__video {
            flex-basis: 50%;

            &__player {
                width: 100%;
                height: 100%;
                border-radius: 2.5rem;
            }
        }

        &__form {
            width: 50%;

            .ant-form-item {
                margin-bottom: 1rem;
            }

            .btn {
                margin-top: 1rem;
            }

            & label {
                color: #ffffff !important;
            }
        }
    }
}

// media queries for mobile responsiveness

// below 768px

@media only screen and (max-width: 768px) {
    .about {
        &__hero {
            padding-top: 8rem;
            padding-bottom: 16rem;
            & > .boxed {
                & > * {
                    width: 100%;
                }

                & > p {
                    font-size: 1.6rem;
                }
            }
        }

        &__team {
            padding-top: 8rem;
            padding-bottom: 8rem;
            background: none;

            &__members {
                grid-template-columns: repeat(2, 1fr);
                gap: 5rem;

                &__member {
                    grid-column: span 2;

                    &:nth-child(4),
                    &:nth-child(5) {
                        grid-column: span 2;
                    }
                }
            }
        }

        &__contact {
            padding-top: 5rem;
            padding-bottom: 5rem;

            & > .boxed {
                flex-direction: column-reverse;
                gap: 5rem;
            }

            &__form {
                width: 100%;
            }
        }
    }
}
