.cta1-card {
    background-color: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1157px;
    height: 422px;
    gap: 15px;
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6.2rem 4.5rem;

    border-radius: 25px;
    overflow: hidden;

    & > * {
        text-align: left !important;
    }

    &__content {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        &__title {
            display: flex;
            height: 128px;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;

            & > .display-3 {
                & > .heading-break {
                    display: none;
                }
            }

            & > .heading-secondary {
                color: #FFF;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 91.667% */
                letter-spacing: 0.36px;
            }
        }
    }

    

    & > .btn {
        margin-top: 1rem;
        align-self: flex-start;
    }

    & > .btn-cta-1 {
        border-radius: 10px;
        border: 1px solid #7e7e7e;
        background: var(
            --Glass-Fill,
            linear-gradient(
                108deg,
                rgba(255, 255, 255, 0.15) -0.42%,
                rgba(255, 255, 255, 0) 101.75%
            )
        );
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        align-self: flex-start;
        justify-content: center;

        text-decoration: none;

        color: #fff;
        text-align: center;

        /* Label/2 */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        letter-spacing: -0.32px;
    }

    &__illustration {
        position: absolute;
        top: 0;
        right: 0;
        width: 682px;
        height: 293px;
        flex-shrink: 0;
        
        // background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 37.24%, #000 64.38%), url("/assets/home/cta-1-illustration.webp"), lightgray -1.245px 3.703px / 100% 155.523% no-repeat;
    }

    & > * {
        z-index: 1;
    }

    &__sub {
        display: flex;
        gap: 2rem;

        & > .subscribe-input {
            padding: 1rem 2.3rem;

            border-radius: 1rem;
            background-color: #3a3a3a;
            min-width: 40rem;
            font-size: 1.6rem;
            border: none;
            outline: none;
            color: #fff;
            font-family: Inter;
            font-weight: 500;
            letter-spacing: 1px;
        }

        & > .sub-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            justify-content: center;
            width: 305px;
            height: 48.998px;
            flex-shrink: 0;
            border-radius: 10px;
            border: 1px solid #7E7E7E;
            background: var(--Glass-Fill, linear-gradient(108deg, rgba(255, 255, 255, 0.15) -0.42%, rgba(255, 255, 255, 0.00) 101.75%));
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 125% */
            letter-spacing: -0.32px;
            
            & > .icon {
                width: 25.716px;
                height: 20.915px;
                flex-shrink: 0;
            }
        }
    }
}

// media queries for responsiveness below 768px

@media only screen and (max-width: 1157px) {
    .cta1-card {
        gap: 2rem;
        padding: 0 4rem;
        padding-bottom: 62px;
        width: 100%;
        flex-shrink: 0;
        min-height: 672px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title {
                height: fit-content;
                & > .heading-secondary {
                    color: #FFF;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px; /* 122.222% */
                    letter-spacing: 0.27px;
                }

                & > .display-3 {
                    & > .heading-break {
                        display: flex;

                        // at screen min-width 542px display none
                        @media only screen and (min-width: 33.875em) {
                            display: none;
                        }
                    }
                }
            }
        }

        &__illustration {
            width: 435.893px;
            height: 359.779px;
            transform: rotate(-90.104deg);
            flex-shrink: 0;
        }

        &__sub {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 2rem;
            gap: 2rem;
            // padding: 0 2rem;

            & > .input {
                width: 329px;
                height: 44px;
            }

            &__discord {
                width: 329px;
                height: 44px;
            }
        }

        &__illustration {
            position: relative;
            width: 100%;
            height: 35rem;
            object-fit: cover;
        }
    }
}
