.cta2-card {
    background-image: url("/assets/home/cta-2-bg.webp");

    display: flex;
    flex-direction: column;
    width: 100%;

    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    gap: 1.5rem;
    padding: 6.2rem 4.5rem;

    border-radius: 25px;
    overflow: hidden;

    & > * {
        text-align: left !important;
    }

    & > .heading-secondary {
        text-transform: unset;
    }

    & > .btn {
        margin-top: 1rem;
        align-self: flex-start;
    }

    & > .btn-cta-2 {
        width: 20rem;

        border-radius: 10px;
        border: 3px solid #f90;
        background: rgba(255, 153, 0, 0.2);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        align-self: flex-start;
        text-decoration: none;

        color: #fff;
        text-align: center;

        /* Label/2 */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        letter-spacing: -0.32px;
    }

    &__illustration {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 60%;
        object-fit: contain;
    }

    & > * {
        z-index: 1;
    }
}

// media queries for responsiveness below 768px

@media (max-width: 768px) {
    .cta2-card {
        padding: 4.2rem 3rem;
        gap: 2rem;

        & > .heading-secondary {
            font-size: 2.8rem;
        }

        & > .btn-cta-1 {
            padding: 0.8rem 1.5rem;
            font-size: 1.4rem;
            width: 100%;
        }

        &__illustration {
            position: relative;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
