.profile {
    background-color: #1e1e22;
    padding: 5rem 4rem 6rem;
    border-radius: 2rem;
  
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  
    &__image-upload {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
    }
  
    &__input-row {
      display: flex;
      gap: 2rem;
      width: 100%;
    }
  
    &__input-col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
  }