.footer {
    background: #000;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 2rem;
  
    & > .boxed {
      width: 100%;
    }
  
    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .footer-column {
      &--1 {
        display: flex;
        width: 336px;
        height: 267px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        & > .footer-brand {
          width: 216px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
  
          & > .footer-brand1 {
            width: 32px;
            height: 42px;
          }
        }
  
        & > .body-mob {
          display: none;
        }
  
        & > .body-regular {
          color: #d8d8d8;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
          letter-spacing: 0.21px;
        }
  
        .icons {
          display: flex;
          align-items: center;
          gap: 1rem;
  
          & > .swiss-icon {
            width: 65px;
            height: 97px;
          }
  
          & > .solana-icon {
            width: 68px;
            height: 63px;
          }
        }
      }
  
      // &__col-2 {
      //     width: 120px;
      // }
  
      // &__col-3 {
      //     width: 255px;
      // }
      &--2 {
        width: 120px;
      }
  
      &--3 {
        width: 255px;
        padding-left: 45px;
      }
  
      &--2,
      &--3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-top: 60px;
        & > .heading {
          color: #fff;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 120% */
        }
      }
    }
  
    &__heading {
      color: #d8d8d8;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 144.023%; /* 51.848px */
      letter-spacing: 1px;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
    }
  
    &__item {
      color: #d8d8d8;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 150% */
      letter-spacing: -0.32px;
    }
  
    &__link {
      color: #d8d8d8;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: -0.32px;
  
      transition: all 0.2s;
  
      &:hover {
        color: #fff;
      }
    }
  
    &__bottom {
      padding: 1.6rem 0 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      &__socials {
        display: flex;
        align-items: center;
        gap: 2rem;
  
        &__item {
          width: 3rem;
          height: auto;
  
          & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  
  // media queries for responsiveness
  
  // 1. footer
  @media only screen and (max-width: 47.99em) {
    .footer {
      padding-bottom: 0.5rem;
      display: flex;
      width: 100vw;
      height: auto;
      padding-top: 2rem;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
  
      &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        text-align: center;
  
        &__col-1 {
          padding-bottom: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        &__col-2 {
          display: none;
        }
  
        &__col-3 {
          & > .heading-6 {
            display: none;
          }
  
          &__socials {
            display: flex;
            width: 282px;
            height: 44px;
            padding: 10px 6px;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
  
            &__item {
              &__icon {
                width: 21px;
                height: 25px;
                flex-shrink: 0;
              }
            }
          }
  
          & > .label {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; /* 133.333% */
            letter-spacing: -0.312px;
            margin-bottom: 13px;
          }
        }
      }
  
      &__top {
        display: flex;
        flex-direction: row;
        // content should space evenly starting from the left
        justify-content: space-evenly;
        gap: 2rem;
      }
  
      .footer-column {
        &--1 {
          align-items: center;
          text-align: center;
          padding-top: 1.5rem;
          height: fit-content;
          border-color: transparent;
  
          & > .swiss-icon {
            width: 5rem;
          }
  
          & > .solana-icon {
            width: 5rem;
          }
  
          & > .icons {
            gap: 0.5rem;
          }
  
          & > .body-mob {
            display: flex;
            color: #d8d8d8;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
          }
  
          & > .body-regular {
            display: none;
          }
  
          .icons {
            display: flex;
            align-items: center;
            gap: 1rem;
  
            & > .swiss-icon {
              width: 31px;
              height: 45px;
            }
  
            & > .solana-icon {
              width: auto;
              height: 40px;
            }
          }
        }
  
        &--2,
        &--3 {
          padding-top: 0;
          display: none;
        }
      }
  
      & .hr {
        margin-block: 2rem;
        display: none;
      }
  
      &__heading {
        font-size: 28px;
        line-height: 144.023%; /* 40.323px */
      }
  
      &__list {
        gap: 0.5rem;
      }
  
      &__link {
        font-size: 16px;
        line-height: 221.023%; /* 35.043px */
      }
  
      &__bottom {
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
  
        &__socials {
          flex-wrap: wrap;
        }
  
        & > .caption-5 {
          display: none;
        }
      }
    }
  }