.home {
    display: flex;
    flex-direction: column;
    height: fit-content;
  
    width: 100vw;
    overflow-x: hidden;
  
    &__hero {
      padding-top: 10rem;
      padding-bottom: 10rem;
      min-height: 90vh;
  
      position: relative;
  
      background-image: linear-gradient(
          to right,
          rgba(24, 24, 28, 0.85) 38%,
          rgba(24, 24, 28, 0) 68%,
          rgba(23, 23, 27, 1) 100%
        ),
        url('../public/assets/home/home-hero-img.webp');
  
      background-position: auto, center;
      background-size: auto, cover;
  
      & > .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
  
        background-image: linear-gradient(
          to bottom,
          rgba(23, 23, 27, 1) 0%,
          rgba(23, 23, 27, 0) 10%,
          rgba(23, 23, 27, 0) 90%,
          rgba(23, 23, 27, 1) 100%
        );
      }
  
      &__content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
  
        & > .solana-swiss-icons {
          width: 15rem;
          height: auto;
        }
  
        .transition-text {
          background: linear-gradient(
            185deg,
            rgba(255, 255, 255, 0.64) 61.8%,
            #fff 79.14%,
            rgba(255, 255, 255, 0.44) 89.98%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: Inter;
          font-size: 74px;
          font-style: normal;
          font-weight: 600;
          line-height: 79px;
          letter-spacing: -2.88px;
        }
      }
  
      & .display-2 {
        display: flex;
        flex-direction: column;
  
        font-family: Inter;
        font-size: 74px;
        font-style: normal;
        font-weight: 600;
        line-height: 112px; /* 82.292% */
        letter-spacing: -2.88px;
  
        background: linear-gradient(
          354deg,
          #ae5e00 51.59%,
          #f90 72.37%,
          rgba(255, 153, 0, 0.37) 93.15%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      &__illustration {
        & > .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }
      }
    }
  
    &__about {
      padding-top: 5rem;
      padding-bottom: 5rem;
  
      & > .boxed {
        display: flex;
        align-items: center;
        gap: 10rem;
      }
  
      &__illustration {
        flex-basis: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &__img {
          width: 60%;
          height: auto;
        }
      }
  
      &__content {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  
    &__featured {
      padding-top: 6rem;
      padding-bottom: 6rem;
  
      & > .boxed {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
      }
  
      &__items-cont {
        display: flex;
        gap: 3rem;
  
        &__item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 4.8rem;
          overflow: hidden;
          gap: 0rem;
          min-width: 40rem;
          position: relative;
          width: 40rem;
          height: 50rem;
          flex-shrink: 0;
          background: url('/assets/product-slider-item-bg.webp');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
  
          &__bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }
  
          & > .item-top {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 4.7rem;
  
            & > .item-top-img {
              width: 40rem;
              height: 25.8rem;
              object-fit: contain;
              flex-shrink: 0;
              flex-shrink: 0;
              filter: drop-shadow(0px 15px 20px 0px rgba(255, 255, 255, 0.25));
            }
          }
  
          & > .item-body {
            display: flex;
            flex-direction: column;
            padding: 1rem 3.5rem 2rem;
            align-items: flex-start;
  
            & > .heading-6 {
              width: 31.4492rem;
              color: #fff;
              /* Heading/6 */
              font-family: Inter;
              font-size: 2rem;
              font-style: normal;
              font-weight: 600;
              line-height: 2.4rem; /* 120% */
              padding-bottom: 1.5rem;
            }
  
            .item-body-details {
              display: flex;
              width: 356px;
              height: 52px;
              align-items: flex-start;
              align-content: flex-start;
              gap: 10px 34px;
              flex-shrink: 0;
              flex-wrap: wrap;
  
              &-set {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                text-align: center;
              }
            }
  
            & > .collect-btn {
              margin-top: 11px;
              position: relative;
              width: 31.7rem;
              height: 4.1rem;
              flex-shrink: 0;
              border-radius: 1.2rem;
              border: 1px solid #f90;
              background: linear-gradient(
                108deg,
                rgba(255, 153, 0, 0.15) -0.42%,
                rgba(255, 255, 255, 0) 101.75%
              );
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              & > .text {
                display: flex;
                width: 22.7rem;
                height: 2.9rem;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
                color: #fff;
                text-align: center;
                font-family: Inter;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2rem; /* 142.857% */
                letter-spacing: -0.0308rem;
              }
            }
          }
        }
      }
    }
  
    &__brief {
      padding-top: 6rem;
      padding-bottom: 6rem;
  
      & > .boxed {
        display: flex;
        flex-direction: column;
  
        gap: 6rem;
      }
  
      &__button {
        color: #000;
        border: 1px solid #000;
        border-radius: 2.5rem;
        padding: 1rem;
  
        text-wrap: nowrap;
      }
  
      &__cta {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: auto;
      }
  
      &__top {
        padding: 3rem 5rem;
        border-radius: 1.5rem;
        display: flex;
        gap: 2rem;
        background-color: #fff;
  
        &__content {
          flex-basis: 50%;
          display: flex;
          flex-direction: column;
          gap: 2rem;
  
          & > * {
            color: #000 !important;
          }
  
          & > p {
            color: #525252 !important;
            font-size: 18px;
            font-weight: 400;
          }
        }
  
        &__illustration {
          flex-basis: 50%;
          display: flex;
          justify-content: center;
          position: relative;
  
          &__img {
            width: 40rem;
            height: auto;
            position: absolute;
            top: -12rem;
          }
        }
      }
  
      &__bottom {
        display: flex;
        gap: 6rem;
  
        &__card-dark {
          flex-basis: 50%;
          flex-basis: 50%;
          padding: 3rem 5rem;
          border-radius: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          background-color: #000;
  
          & > * {
            color: #fff !important;
          }
  
          & > p {
            color: #525252 !important;
            font-size: 18px;
            font-weight: 400;
          }
  
          & > p {
            color: #525252 !important;
            font-size: 18px;
            font-weight: 400;
          }
  
          & a {
            color: #fff;
            border-color: #fff;
          }
        }
  
        &__card-light {
          flex-basis: 50%;
          padding: 3rem 5rem;
          border-radius: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          background-color: #e1e1e1;
  
          & .heading-5 {
            margin-top: -1.5ßrem;
          }
  
          & > * {
            color: #000 !important;
          }
  
          & > p {
            color: #525252 !important;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  
    &__working {
      padding-top: 6rem;
      padding-bottom: 6rem;
  
      & > .boxed {
        display: flex;
        flex-direction: column;
        gap: 6rem;
  
        align-items: center;
      }
  
      & > .heading-3 {
        text-align: center;
      }
  
      &__steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6rem;
      }
  
      &__item {
        display: flex;
        flex-direction: column;
  
        gap: 1rem;
  
        & > .heading-3 {
          margin-top: 2rem;
        }
  
        max-width: 35rem;
  
        &__img {
          width: 35rem;
          height: 35rem;
          object-fit: cover;
  
          border-radius: 2rem;
        }
      }
    }
  
    &__cta {
      padding-top: 5rem;
      padding-bottom: 5rem;
  
      & > .boxed {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        gap: 3rem;
      }
  
      &__brand {
        width: 15rem;
      }
    }
  
    &__bottom-cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
      padding-bottom: 10rem;
      gap: 5rem;
    }
  }
  
  // media queries for responsivenses
  
  // Below 768px
  @media only screen and (max-width: 47.99em) {
    .home {
      width: 100vw;
      overflow-x: hidden;
  
      &__hero {
        padding-top: 8rem;
        padding-bottom: 8rem;
        min-height: unset;
  
        &__content {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          align-items: flex-start;
  
          & > .solana-swiss-icons {
            width: 15rem;
            height: auto;
          }
  
          .transition-text {
            font-size: 50px;
          }
        }
  
        & .display-2 {
          display: flex;
          flex-direction: column;
  
          font-size: 50px;
  
          font-weight: 600;
          line-height: 100%; /* 82.292% */
        }
      }
  
      &__about {
        padding-top: 0rem;
        padding-bottom: 5rem;
  
        & > .boxed {
          flex-direction: column;
          gap: 4rem;
        }
  
        &__illustration {
          &__img {
            width: 80%;
          }
        }
      }
  
      &__featured {
        & > .boxed {
          gap: 3rem;
        }
  
        &__items-cont {
          display: flex;
          flex-direction: column;
          gap: 3rem;
  
          &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 4.8rem;
  
            gap: 0rem;
  
            position: relative;
            width: 100%;
            height: auto;
  
            & > .item-top {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-top: 4.7rem;
  
              & > .item-top-img {
                width: 25rem;
                height: 25.8rem;
                object-fit: contain;
                flex-shrink: 0;
                flex-shrink: 0;
                filter: drop-shadow(0px 15px 20px 0px rgba(255, 255, 255, 0.25));
              }
            }
  
            & > .item-body {
              display: flex;
              flex-direction: column;
              padding: 1rem 3.5rem 2rem;
              align-items: flex-start;
  
              & > .heading-6 {
                color: #fff;
                /* Heading/6 */
                font-family: Inter;
                font-size: 2rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.4rem; /* 120% */
                padding-bottom: 1.5rem;
              }
  
              .item-body-details {
                display: flex;
  
                align-items: flex-start;
                align-content: flex-start;
                gap: 10px 34px;
                flex-shrink: 0;
                flex-wrap: wrap;
  
                &-set {
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;
                  text-align: center;
                }
              }
  
              & > .collect-btn {
                margin-top: 11px;
                position: relative;
  
                flex-shrink: 0;
                border-radius: 1.2rem;
                border: 1px solid #f90;
                background: linear-gradient(
                  108deg,
                  rgba(255, 153, 0, 0.15) -0.42%,
                  rgba(255, 255, 255, 0) 101.75%
                );
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                & > .text {
                  display: flex;
  
                  flex-direction: column;
                  justify-content: center;
                  flex-shrink: 0;
                  color: #fff;
                  text-align: center;
                  font-family: Inter;
                  font-size: 1.4rem;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 2rem; /* 142.857% */
                  letter-spacing: -0.0308rem;
                }
              }
            }
          }
        }
      }
  
      &__brief {
        padding-top: 6rem;
        padding-bottom: 6rem;
  
        & > .boxed {
          gap: 3rem;
        }
  
        &__cta {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          margin-top: auto;
        }
  
        &__top {
          padding: 2rem;
  
          flex-direction: column-reverse;
  
          &__illustration {
            &__img {
              width: 100%;
              height: auto;
              position: static;
              top: unset;
            }
          }
        }
  
        &__bottom {
          display: flex;
          flex-direction: column;
          gap: 3rem;
  
          &__card-dark {
            padding: 2rem;
          }
  
          &__card-light {
            padding: 2rem;
          }
        }
      }
    }
  }