.partners {
    // padding-top: 5rem;
    position: relative;
    top: -5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    & > .heading-secondary {
        color: #FFF;
        text-align: center;

        /* Heading/3 */
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 125% */
        padding-bottom: 29px;
    }

    &__marquee {
        background-color: #2e2e2e;
        // padding-block: 4rem;
        height: 100px;
        display: flex;
        align-items: center;
        &__img {
            height: 5rem;
            width: auto;
            padding-inline: 8rem;
        }
    }
}

@media only screen and (max-width: 47.99em) {
    .partners {
        // padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        top: -12rem;
        &__marquee {
            &__img {
                padding-inline: 2rem;
                height: 2rem;
            }
        }
    }
}
