.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #525252;
    height: fit-content;
    border:none;
    border-radius: 45px;
    z-index: 90;
    min-width: fit-content;
    // min-height: 90vh;
    height: fit-content;
    padding-bottom: 5rem;
}

.modal-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.login-header {
    // width: 851px;
    height: 150px;
    background-image: url('/assets/login/login_header.svg');
    background-size: cover;
}

.logo {
    position: relative;
    top: -5rem;
    left: 1rem;
    height: 70px;
    width: 70px;    
}

.header-text-container {
    position: relative;
    // display in center of parent
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    // padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 0rem 3rem 0rem 3rem;
}

.header-text {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.header-subtext {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}


.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 2rem;

    & > .profile-btn {
        width: fit-content;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 30px;
        background-color: #512da8;
    }
}

.profile {
    padding: 2rem 4rem 9rem;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    &__top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__image-upload {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 50%;
            margin-top: 15px;
        }

        &__col {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 50%;
        }
    }
  
  
    &__input-col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
    // .ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select
    
  } 
    .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
        // display: none;
        width: 175px;
        height: 175px;
    }
    .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container{
        width: 175px;
        height: 175px;
    }
// media screen for mobile
@media screen and (max-width: 900px) {
    .modal-container {
        min-width: none;
        max-width: none;
        width: 347px;
    }

    .header-text {
        font-size: 2rem;
    }

    .login-option {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .social-login-option {
        gap: 0;
        padding: 2rem 1rem 2rem 2rem;
    }

    .social-login-text {
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.026em;
        text-align: left;
        width: 100%;
    }

    .horizontal-line {
        display: flex;
        width: 100%;
    }
    .login-container {
        flex-direction: column;
    }

    .web3-login-option {
        flex-direction: row;
        width: 100%;
        padding: 1rem 1rem 1rem 1rem;
    }

    .wallet-icons-container {
        width: 50%;
    }

    .wallet-btn {
        width: 20px;
    }
}