.home {
    &__header {
        display: flex;
        flex-direction: column;

        background-image: url("../../assets/header-bg-left.png"),
            url("../../assets/header-bg-right.png");

        background-repeat: no-repeat, no-repeat;
        background-position: left top, right top;

        min-height: 100vh;

        // background-size: 50%, 50%;
    }

    &__hero {
        padding-top: 8rem;
        padding-bottom: 2rem;
        flex-grow: 1;
        display: flex;

        & > .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 3rem;
            width: 100%;

            & .display-2 {
                display: flex;

                gap: 1rem;
            }
        }

        &__illustration {
            margin-top: -8rem;
            z-index: -1;
            flex-grow: 1;
            width: 100%;
            min-height: 50rem;
            background: linear-gradient(
                    180deg,
                    #18181c 16.27%,
                    rgba(24, 24, 28, 0) 52.48%,
                    #18181c 94.79%
                ),
                url("../../assets/home/home-hero-illustration.webp");

            background-position: center;
            background-repeat: no-repeat;
            background-size: auto, 100%;
        }
    }

    &__about {
        padding-top: 5rem;
        padding-bottom: 5rem;

        background-image: url("../../assets/home/home-about-illustration-2.webp");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: left bottom;

        & > .boxed {
            display: flex;
        }

        &__illustration {
            &__img {
                width: 100%;
            }
        }

        &__content {
            display: flex;
            align-items: center;
            gap: 8rem;

            & > .col-1 {
                .item-1 > .heading-4 {
                    background: linear-gradient(
                        92deg,
                        #5cceff -2.45%,
                        #fff 94.72%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    padding-left: 1rem;
                    border-left: 4px solid #00b2ff;
                }

                .item-2 > .heading-4 {
                    background: linear-gradient(
                        90deg,
                        #e09c37 3.27%,
                        #fff 102.25%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    padding-left: 1rem;
                    border-left: 4px solid #e09c37;
                }

                .item-3 > .heading-4 {
                    background: linear-gradient(
                        90deg,
                        #e03737 3.27%,
                        #fff 102.25%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    padding-left: 1rem;
                    border-left: 4px solid #e03737;
                }
            }

            & > .col-2 {
                .item-4 > .heading-4 {
                    background: linear-gradient(
                        95deg,
                        #99a1ee 3.6%,
                        #fff 60.15%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    padding-left: 1rem;
                    border-left: 4px solid #99a1ee;
                }

                .item-5 > .heading-4 {
                    background: linear-gradient(90deg, #72d7a9 0%, #fff 87.66%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    padding-left: 1rem;
                    border-left: 4px solid #72d7a9;
                }
            }

            &__col {
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                gap: 10rem;
                justify-content: center;
                align-items: flex-start;

                &__item {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }

    &__cta {
        padding-top: 5rem;
        padding-bottom: 5rem;

        & > .boxed {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 3rem;
        }

        &__brand {
            width: 15rem;
        }
    }

    &__bottom-cta {
        padding-top: 5rem;
        padding-bottom: 10rem;

        & > .boxed {
            display: flex;
            flex-direction: column;
            gap: 5rem;
        }
    }
}

// media queries for responsivenses

// Below 768px
@media only screen and (max-width: 47.99em) {
    .home {
        &__header {
            min-height: unset;
        }

        &__hero {
            padding-top: 5em;
            padding-bottom: 2rem;

            & > .container {
                gap: 2rem;

                & .display-2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                }

                & > .btn {
                    margin-top: 1rem;
                }
            }

            &__illustration {
                flex-grow: 1;
                width: 100%;
                height: 15rem;
                min-height: unset;
                margin-top: 0;
                background: linear-gradient(
                        180deg,
                        #18181c 16.27%,
                        rgba(24, 24, 28, 0) 52.48%,
                        #18181c 94.79%
                    ),
                    url("../../assets/home/home-hero-illustration.webp");

                background-size: cover;
            }
        }

        &__about {
            margin-top: 4rem;
            padding-top: 0;

            background-size: 100%;
            background-position: center top 5rem;

            & > .boxed {
                flex-direction: column;
                gap: 5rem;
            }

            &__illustration {
                &__img {
                    width: 100%;
                }
            }

            &__content {
                flex-direction: column;
                gap: 5rem;

                &__col {
                    flex-direction: column;
                    gap: 5rem;
                    justify-content: center;
                    align-items: flex-start;

                    &__item {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }
                }
            }
        }

        &__cta {
            padding-inline: 2rem;
            &__row-1,
            &__row-2 {
                position: relative;
                border-radius: 2.5rem;

                &__content {
                    padding: 3rem 2rem;
                    flex-basis: 100%;

                    & > .heading-secondary {
                        font-size: 1.6rem;
                    }

                    & > .btn {
                        display: none;
                    }
                }

                &__illustration {
                    height: 35rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: -1;
                }
            }

            &__row-2 {
                &__content {
                    background-color: transparent !important;
                    text-align: right;
                }
            }

            &__row-3 {
                padding-top: 5rem;
                padding-bottom: 5rem;
            }
        }

        &__bottom-cta {
            padding-bottom: 5rem;

            &__row-1,
            &__row-2 {
                padding: 3rem;

                & > .btn {
                    width: 100%;
                }
            }

            &__row-1 {
                &__sub {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    gap: 2rem;

                    & > .subscribe-input {
                        min-width: 100%;
                    }

                    & > .btn {
                        width: 100%;
                    }
                }

                & > .discord-btn {
                    display: none;
                }
            }
        }
    }
}
