html {
  font-size: 10px;
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  background-color: #17171b;
  color: #fff;
}

a {
  text-decoration: none;
}

/* custom scrolbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 153, 0, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17171b;
}

/* // typography */

/* // text variants */

.display-1 {
  color: #fff;

  /* Display/1 */
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 120px; /* 125% */
  letter-spacing: -2.88px;
}

.display-2 {
  color: #fff;

  /* Display/2 */
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 96px; /* 133.333% */
  letter-spacing: -2.16px;

  @media only screen and (max-width: 769px) {
    /* Heading/1 */
    font-size: 40px;
    line-height: 52px; /* 130% */
  }
}

.display-3 {
  color: #fff;

  /* Display/3 */
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 128.571% */
  letter-spacing: -1.68px;

  @media only screen and (max-width: 769px) {
    /* Heading/2 */
    font-size: 36px;
    line-height: 44px; /* 122.222% */
  }
}

.heading-1 {
  color: #fff;

  /* Heading/1 */
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 130% */

  @media only screen and (max-width: 769px) {
    /* Heading/5 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
  }
}

.heading-2 {
  color: #fff;

  /* Heading/2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}

.heading-3 {
  color: #fff;

  /* Heading/3 */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */

  @media only screen and (max-width: 769px) {
    /* Heading/4 */
    font-size: 28px;
    line-height: 36px;
  }
}

.heading-4 {
  color: #fff;

  /* Heading/4 */
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
}

.heading-5 {
  color: #fff;

  /* Heading/5 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.heading-6 {
  color: #fff;

  /* Heading/6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}

.label-1 {
  color: #fff;

  /* Label/1 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.324px;
}

.label-2 {
  color: #fff;

  /* Label/2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}

.label-3 {
  color: #fff;

  /* Label/3 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.308px;
}

.label-4 {
  color: #fff;

  /* Label/4 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.312px;
}

.label-5 {
  color: #fff;

  /* Label/5 */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 140% */
  letter-spacing: -0.3px;
}

.caption-1 {
  color: #fff;

  /* Caption/1 X Large */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 91.667% */
  letter-spacing: 0.36px;

  @media only screen and (max-width: 769px) {
    font-size: 18px;
    letter-spacing: 0.27px;
  }
}

.caption-2 {
  color: #fff;

  /* Caption/L/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.27px;
}

.caption-3 {
  color: #fff;

  /* Caption/2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.24px;
}

.caption-4 {
  color: #fff;

  /* Caption/3 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.21px;
}

.caption-5 {
  color: #fff;

  /* Caption/4 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.24px;
}

.body-regular {
  color: #d3d3d3;

  /* Paragraph/1 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.324px;
}

.p-2 {
  color: #fff;

  /* Paragraph/2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.p-3 {
  color: #fff;

  /* Paragraph/3 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.308px;
}

.p-4 {
  color: #fff;

  /* Paragraph/4 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.312px;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/* font weights */

.w-200 {
  font-weight: 200;
}

.w-300 {
  font-weight: 300;
}

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 700;
}

.w-800 {
  font-weight: 800;
}

/* colors */

/* .highlight {
  background: linear-gradient(
      351deg,
      #ae5e00 21.53%,
      #f90 52.82%,
      rgba(255, 153, 0, 0.37) 84.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
} */

.highlight-1 {
  background: linear-gradient(110deg, #807c79 0.56%, #ddb07b 28.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-2 {
  background: linear-gradient(270deg, #f90 35.8%, #fff 149.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold {
  color: #ffc46d;
}

.yellow {
  color: #f90;
}

.green {
  color: #03d181;
}

.red {
  color: #f12828;
}

.dark {
  color: #17171b;
}

.grey {
  color: #ebebeb;
}

.white {
  color: #fff;
}

/* // Utility Classes */

.padding {
  padding-left: 10rem;
  padding-right: 10rem;
}

.boxed {
  /* max-width: 1600px; */
  margin: 0 auto;
}

/* global styles */
.ant-progress-inner {
  border: 1px solid #7e7e7e;
}

/* faqs ant desing resets */
.ant-collapse {
  border: none;
}

.ant-collapse-item {
  border-radius: 0 !important;
}

.ant-collapse-header {
  padding-left: 0 !important
  ;
}

.ant-collapse-header-text {
  color: #d9d9d9;

  /* Label/1 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.324px;
}

.ant-collapse-content {
  background-color: rgba(228, 228, 228, 0.01) !important;
  color: #fff;
}

.ant-collapse-expand-icon {
  color: #fff;
}

.ant-collapse-arrow {
  font-size: 2rem !important;
}

/* // global components */

.hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.2;
}

.btn {
  text-decoration: none;
  padding: 1.4rem 4rem;
  border-radius: 2.5rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #f5f5f5;

  transition: all 0.2s;

  & > .icon {
    transition: all 0.2s;
    width: 3rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem 1.5rem !important;
  }
}

.btn-primary {
  display: flex;
  width: 228px;
  height: 46px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  border: 1px solid rgba(255, 153, 0, 0.39);
  background: linear-gradient(
    180deg,
    rgba(255, 153, 0, 0.07) 0%,
    rgba(255, 153, 0, 0.3) 54.97%,
    rgba(255, 153, 0, 0.08) 100%
  );
  box-shadow: 0px 0px 4.5px 0px rgba(255, 255, 255, 0.25);
  color: white;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(-1px);
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem 1.5rem !important;
  }
}

.btn-primary-small {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: 1px;
  text-transform: uppercase;

  padding: 0.5rem 1rem;

  border-radius: 25px;
  border: 1px solid #7e7e7e;
  background-color: #efefef;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-gold {
  border-radius: 7px;
  border: 1px solid #fea14ba1;
  background: rgba(255, 153, 0, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 1rem 5rem;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(-1px);
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem 1.5rem !important;
  }
}

.btn-white {
  color: #17171b;
  text-align: center;

  /* Label/2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;

  border-radius: 25px;
  border: 1px solid #7e7e7e;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 1.4rem 4rem;
  align-self: center;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(-1px);
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem 1.5rem !important;
  }
}

.btn-outlined {
  border: 1px solid #fff;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;

  @media only screen and (max-width: 600px) {
    padding: 1rem 1.5rem !important;
  }
}

/* .btn-item {
  color: #d9d9d9;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  letter-spacing: 1px;
  text-transform: uppercase;

  text-decoration: none;

  padding: 1.4rem 2.7rem;

  border-radius: 25px;
  border: 1px solid #7e7e7e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-self: center;

  transition: all 0.2s;

  &:hover {
      -webkit-box-shadow: 0px 0px 69px 10px rgba(126, 126, 126, 0.2);
      -moz-box-shadow: 0px 0px 69px 10px rgba(126, 126, 126, 0.2);
      box-shadow: 0px 0px 69px 10px rgba(126, 126, 126, 0.2);
  }

  @media only screen and (max-width: 600px) {
      font-size: 16px !important;
      padding: 1rem 1.5rem !important;
      font-weight: 400 !important;
  }
} */

.btn-link-mob {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 100%; /* 14px */
  letter-spacing: 1px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  text-decoration: none;
  display: none;

  @media only screen and (max-width: 600px) {
    display: flex;
  }
}

/* // media queries */

@media only screen and (max-width: 1150px) {
  .padding {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .html {
    width: 100vw;
    overflow-x: hidden;
  }
  .padding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}