html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  background-color: #17171b;
  color: #fff;
}

/* custom scrolbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 153, 0, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17171b;
}

/* // typography */

/* // text variants */

.heading-xl {
  /* XL */
  font-family: Inter;
  font-size: 80px;
  font-style: italic;
  font-weight: 200;
  line-height: 100.449%; /* 80.359px */
  letter-spacing: 17.5px;
  text-transform: uppercase;

  @media only screen and (max-width: 600px) {
      font-size: 4.8rem;
  }
}

.heading-lg {
  /* L */
  font-family: Inter;
  font-size: 64px;
  font-weight: 200;
  line-height: 100.449%; /* 64.287px */
  letter-spacing: 17.5px;

  @media only screen and (max-width: 600px) {
      font-size: 3.6rem;
      letter-spacing: 6px;
  }
}

.heading-primary {
  /* H1 */
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
  text-transform: capitalize;

  @media only screen and (max-width: 600px) {
      font-size: 3.4rem;
  }
}

.heading-secondary {
  /* H2 */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 32px */
  letter-spacing: 1px;
  text-transform: uppercase;

  @media only screen and (max-width: 600px) {
      font-size: 2.6rem;
  }
}

.heading-tertiary {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.949%; /* 31.066px */

  @media only screen and (max-width: 600px) {
      font-size: 2.4rem;
  }
}

.heading-quaternary {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  letter-spacing: 1px;

  @media only screen and (max-width: 600px) {
      font-size: 2.2rem;
  }
}

.body-regular {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.body-small {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: 100%; /* 14px */
  letter-spacing: 1px;
  font-weight: 400;
}

.body-xs {
  font-family: Inter;
  font-size: 10px;
  font-style: italic;
  font-weight: 200;
  line-height: 100%; /* 10px */
  letter-spacing: 1px;
  text-transform: lowercase;
}

.body-tiny {
  font-family: Inter;
  font-size: 8px;
  font-style: italic;
  font-weight: 300;
  line-height: 100%; /* 8px */
  letter-spacing: 1px;
}

/* @Manay's Typography */
.heading-1 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: 1px;
}

.heading-2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 24px */
  letter-spacing: 1px;
}

.heading-3 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  letter-spacing: 1px;
}

.body {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/* font weights */

.w-200 {
  font-weight: 200;
}

.w-300 {
  font-weight: 300;
}

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 700;
}

.w-800 {
  font-weight: 800;
}

/* colors */

.highlight-1 {
  background: linear-gradient(110deg, #807c79 0.56%, #ddb07b 28.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-2 {
  background: linear-gradient(270deg, #f90 35.8%, #fff 149.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow {
  color: #f90;
}

.green {
  color: #23b371;
}

.red {
  color: #f12828;
}

.dark {
  color: #17171b;
}

.grey {
  color: #ebebeb;
}

.white {
  color: #fff;
}

/* // Utility Classes */

.padding {
  padding-left: 10rem;
  padding-right: 10rem;
}

.boxed {
  max-width: 1600px;
  margin: 0 auto;
}

/* global styles */
.ant-progress-inner {
  border: 1px solid #7e7e7e;
}

/* faqs ant desing resets */
.ant-collapse {
  border: none;
}

.ant-collapse-item {
  border-radius: 0 !important;
}

.ant-collapse-header {
  padding-left: 0 !important
  ;
}

.ant-collapse-header-text {
  color: #d9d9d9;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  letter-spacing: 1px;
}

.ant-collapse-content {
  background-color: rgba(228, 228, 228, 0.01) !important;
  color: #fff;
}

.ant-collapse-expand-icon {
  color: #fff;
}

.ant-collapse-arrow {
  font-size: 2rem !important;
}

/* // global components */

.hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.2;
}

.btn {
  text-decoration: none;
  padding: 1.4rem 4rem;
  border-radius: 2.5rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #f5f5f5;

  transition: all 0.2s;

  & > .icon {
      transition: all 0.2s;
      width: 3rem;
  }

  @media only screen and (max-width: 600px) {
      padding: 1rem 1.5rem !important;
  }
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 20px */
  text-transform: uppercase;

  border-radius: 25px;
  border: 1px solid #7e7e7e;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 1.4rem 4rem;
  align-self: center;
  transition: all 0.2s;

  &:hover {
      transform: translateY(-2px);
  }

  &:active {
      transform: translateY(-1px);
  }

  @media only screen and (max-width: 600px) {
      padding: 1rem 1.5rem !important;
  }
}

.btn-primary-small {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: 1px;
  text-transform: uppercase;

  padding: 0.5rem 1rem;

  border-radius: 25px;
  border: 1px solid #7e7e7e;
  background-color: #efefef;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-yellow {
  color: #fff;
  text-align: center;
  font-size: 16px !important;

  line-height: 100%; /* 20px */
  text-transform: uppercase;

  border-radius: 25px;
  border: 0.5px solid #fff;

  background: linear-gradient(95deg, #7e6e5e 0.59%, #a3825f 101.59%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 1.4rem 4rem;
  transition: all 0.2s;

  &:hover {
      transform: translateY(-2px);
  }

  &:active {
      transform: translateY(-1px);
  }

  @media only screen and (max-width: 600px) {
      padding: 1rem 1.5rem !important;
  }
}

.btn-white {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 20px */
  text-transform: uppercase;

  border-radius: 25px;
  border: 1px solid #7e7e7e;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 1.4rem 4rem;
  align-self: center;
  transition: all 0.2s;

  &:hover {
      transform: translateY(-2px);
  }

  &:active {
      transform: translateY(-1px);
  }

  @media only screen and (max-width: 600px) {
      padding: 1rem 1.5rem !important;
  }
}

.btn-outlined {
  border: 1px solid #fff;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;

  @media only screen and (max-width: 600px) {
      padding: 1rem 1.5rem !important;
  }
}

.btn-item {
  color: #d9d9d9;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: 1px;
  text-transform: uppercase;

  text-decoration: none;

  padding: 1.4rem 2.7rem;

  border-radius: 25px;
  border: 1px solid #7e7e7e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-self: center;

  transition: all 0.2s;

  &:hover {
      -webkit-box-shadow: 0px 0px 69px 10px rgba(126, 126, 126, 0.2);
      -moz-box-shadow: 0px 0px 69px 10px rgba(126, 126, 126, 0.2);
      box-shadow: 0px 0px 69px 10px rgba(126, 126, 126, 0.2);
  }

  @media only screen and (max-width: 600px) {
      font-size: 16px !important;
      padding: 1rem 1.5rem !important;
      font-weight: 400 !important;
  }
}

.btn-link-mob {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 100%; /* 14px */
  letter-spacing: 1px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  text-decoration: none;
  display: none;

  @media only screen and (max-width: 600px) {
      display: flex;
  }
}

/* // media queries */

@media only screen and (max-width: 1150px) {
  .padding {
      padding-left: 8rem;
      padding-right: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .padding {
      padding-left: 3rem;
      padding-right: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .padding {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }
}
