.opportunities {
    padding-top: 5rem;
    padding-bottom: 5rem;

    & > .boxed {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        &__card {
            background: url("../../assets/home/opportunities-bg.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 25px;

            &__top {
                height: 18rem;
                width: 100%;
                position: relative;
                &__img {
                    width: 80%;
                    height: 100%;
                    object-fit: contain;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            &__body {
                padding: 3rem 2rem 2rem 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 2rem;

                    & .icon {
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}

// media queries for mobile responsiveness

@media only screen and (max-width: 768px) {
    .opportunities {
        padding-top: 2rem;
        padding-bottom: 2rem;

        & .heading-1 {
            text-align: center !important;
        }

        &__cards {
            grid-template-columns: 1fr;
            gap: 2rem;

            &__card {
                &__top {
                    height: 12rem;
                }

                &__body {
                    padding: 2rem 1rem 1rem 1rem;
                }
            }
        }
    }
}
