.not-found {
    &__header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        height: 100svh;
    }

    &__hero {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
