.product-details {
    &__header {
        display: flex;
        flex-direction: column;
    }

    &__hero {
        padding-top: 5rem;
        padding-bottom: 5rem;

        & > .boxed {
            display: flex;
            gap: 6rem;
            align-items: flex-start;
        }

        &__illustration {
            flex-basis: 55%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .image-gallery-slides {
                border-radius: 30px;
                border: 1px solid #fff;
                background: linear-gradient(
                    108deg,
                    rgba(255, 255, 255, 0.15) -0.42%,
                    rgba(255, 255, 255, 0) 101.75%
                );
                padding: 0.5rem;
            }

            .image-gallery-thumbnails-wrapper {
                margin-top: 1rem;
            }

            .image-gallery-thumbnail {
                border-radius: 10px;
                opacity: 0.3;
                background: #000;
                border: 1px solid transparent;
                overflow: hidden;
            }

            .image-gallery-thumbnail.active,
            .image-gallery-thumbnail:focus,
            .image-gallery-thumbnail:hover {
                border: 1px solid #fff;
            }
        }

        &__info {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3.7rem;

            &__header {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                text-align: left;
                text-transform: capitalize;
            }

            .ant-progress-text {
                color: #23b371;
            }

            &__set {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                text-align: left;
                width: 100%;

                &__cont {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;

                    // row 1

                    & > .market-value {
                        border: 1px solid rgba(255, 255, 255, 0.7);
                        background: linear-gradient(
                            108deg,
                            rgba(255, 255, 255, 0.15) -0.42%,
                            rgba(255, 255, 255, 0) 101.75%
                        );
                    }

                    & > .fraction-left {
                        border: 1px solid rgba(144, 217, 255, 0.7);
                        background: linear-gradient(
                            108deg,
                            rgba(144, 217, 255, 0.15) -0.42%,
                            rgba(144, 217, 255, 0.02) 101.75%
                        );
                    }

                    & > .market-value,
                    & > .fraction-left {
                        padding: 2rem;
                        border-radius: 10px;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 2rem;
                        min-height: 10rem;
                        color: #e4e4e4;
                    }

                    // row 2

                    & > .past-returns,
                    & > .earning-potential {
                        padding: 2rem;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 2rem;
                        border-radius: 10px;
                        text-align: left;
                        min-height: 10rem;
                        color: #e4e4e4;
                    }

                    & .past-returns {
                        border: 1px solid rgba(255, 255, 255, 0.7);

                        background: linear-gradient(
                            108deg,
                            rgba(255, 255, 255, 0.15) -0.42%,
                            rgba(255, 255, 255, 0) 101.75%
                        );
                    }

                    & .earning-potential {
                        border: 1px solid rgba(224, 255, 192, 0.7);
                        background: linear-gradient(
                            108deg,
                            rgba(224, 255, 192, 0.15) -0.42%,
                            rgba(224, 255, 192, 0.02) 101.75%
                        );

                        & > .body {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                        }
                    }
                }
            }

            & > .btn {
                width: 100%;
            }
        }
    }

    &__about {
        padding-top: 5rem;
        padding-bottom: 5rem;

        & > .boxed {
            display: flex;
            gap: 6rem;
            align-items: flex-start;
        }

        &__faq {
            flex-basis: 55%;

            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &__calc {
            flex-basis: 45%;
            border-radius: 10px;
            border: 1px solid #23b371;
            background: linear-gradient(
                108deg,
                rgba(35, 179, 113, 0.15) -0.42%,
                rgba(35, 179, 113, 0.02) 101.75%
            );

            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 2.5rem;

            color: #e4e4e4;

            &__range {
                .ant-slider-handle {
                    &::after {
                        background-color: #23b371;
                        box-shadow: 0 0 0 4px #23b371;
                    }

                    &:hover::after {
                        box-shadow: 0 0 0 4px #23b371;
                    }

                    &:active::after {
                        box-shadow: 0 0 0 4px #23b371;
                    }

                    &:focus::after {
                        box-shadow: 0 0 0 4px #23b371;
                    }
                }

                .ant-slider-track {
                    background-color: #23b371;

                    &:hover {
                        background-color: #23b371;
                    }

                    &:active {
                        background-color: #23b371;
                    }

                    &:focus {
                        background-color: #23b371;
                    }
                }
            }

            &__returns {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

// media queries for responsiveness

// below 768px

@media only screen and (max-width: 768px) {
    .product-details {
        &__hero {
            & > .boxed {
                flex-direction: column;
                gap: 3rem;
            }

            &__illustration {
                flex-basis: 100%;
            }
            &__info {
                flex-basis: 100%;
            }
        }

        &__about {
            & > .boxed {
                flex-direction: column-reverse;
                gap: 3rem;
            }

            &__faq {
                flex-basis: 100%;
                width: 100%;
            }

            &__calc {
                flex-basis: 100%;
            }
        }
    }
}
